html,
body {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Roboto', sans-serif;
  font-size: 100%;
  line-height: 1.5;
  color: #333;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

@import "layout/page";
@import "layout/header";
@import "layout/footer";
@import "module/navigation";
@import "module/logo";